@font-face {
 font-family: "FiraCode Regular";
 src: url('fnt/FiraCode-Regular.woff') format("woff"),
      url('fnt/FiraCode-Regular.woff2') format("woff2");
}

#loader{
  position: fixed;
}
#menu{
  margin:0 !important;
  border-radius:0px;
}
.cmdoutputcont{
  position:relative;
  flex: 1;
}
.cmdoutputseg{
  position:absolute;
  margin:auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  border:none !important;
  box-shadow:none !important;
}
p{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
#mdl_output{
  font-family:"FiraCode Regular";
}
.ui.animated.button {
    position: relative;
    overflow: hidden;
    padding-right: 0 !important;
    vertical-align: middle;
    z-index: 1;
    width: 130px;
}
.modunban {
  margin: 0px 10px 10px 0px;
}
.accordion {
 font-size: 17px;
}
hl {
 font-weight: bold;
 text-decoration: underline;
}
.popuperr {
  opacity:0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu_cont {
  display: flex;
}
.menu_vert {
  height: 100%;
  position: fixed;
  z-index: 999;
  border-radius: 0px !important;
  overflow-x: hidden;
  overflow-y: auto;
}
.img_logo {
  padding: 10px;
}
#frm_auth {
  margin: 10px;
}
#btn_auth {
  margin-top: 5px;
}
.lbl_ver {
  opacity: .25;
}
.men_sub_icn {
  float: right;
}
#btn_login {
  margin-left: 0px !important;
}