{
  "MYSUPERLONGAUTHKEYFORROOT": [
    "sk_mng_kll",
    "sk_mng_srt",
    "sk_mng_stp",
    "sk_mod_ban",
    "sk_mod_unb",
    "sk_stt_ded"
  ],
  "ANOTHERSUPERLONGKEYFORAPRETTYRESTRICTEDUSER": [
    "sk_mod_ban",
    "sk_stt_ded"
  ]
}